<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

{%- include head.html -%}



<body>


  <main class="page-content" aria-label="Content">
    <div class="wrapper">

      <div class="home-banner-wrapper">
        <h1 class="home-title">
        <a href="https://github.com/goodki-d">
          goodki-d
        </a>
      </h1>
        <img src="/assets/gkmc.jpeg" alt="" class="home-banner">
      </div>

      <div class="featured-articles-wrapper">
        SIDE A

        {% assign sideA = site.articles | where: 'side', 'A'%}
        
        <ol>
          {% for article in sideA %}
          <li>
            <a href="{{article.url}}" class="article-link">
              <p class="article-title">{{ article.title }}
              </p>
            </a>
          </li>
          {% endfor %}
        </ol>

        <!-- SIDE B

        {% assign sideB = site.articles | where: 'side', 'B'%}
        
        <ol>
          {% for article in sideB %}
          <li>
            <a href="{{article.url}}" class="article-link">
              <p class="article-title">{{ article.title }}
              </p>
            </a>
          </li>
          {% endfor %}
        </ol> -->

        <!-- BONUS DISC -->

      
      </div>
      

      <div class="key-wrapper">
        <p>
          iQIzBAABCAAdFiEEjDHloX3V2TK0SP4d6KZkSA2eQ/UFAmS6TgEACgkQ6KZkSA2e
          Q/VsuQ/+J+66yL8yvkh37CaefNZXB4me1I8T7iC9ZFhI1lqifAWrYnE9HN69ghhh
          nP1xkjPSJv3kbfcHL+ZXlPvNxZLgWppgZ9AO7kVNHgYqvMc/jwzdnSUnrZCP7arD
          JADaXqpzUf2ThV/KbaOQOou3g08WlebeuWpFR8GNmvDzBvtY+lFAMMlfbua4libT
          IdgnM1KzMkZt/F9T9/ceZbRxAjStGm38hLRsrwTfIjORZgrWjFaQvVSvTnui4f7b
          a+eTBaUj5yusXek5UHzvGvvgfbbrc6qvJpoeNDEMrpNzF1kzCFUqCIAYd4N7McZJ
          edX+gRVYLX0U9NXQL/l2N5OH51j6GtNJiUPvuKk7X4Fb+rRhBKJyrBO/Y6qGZ95N
          iglXVjaDCxsBFc4/0UFwzasOUXpA8zfAHVZUwG4/dxjRS8uc8ZHMmw1MMFr+BMS6
          +W0TeeUN2C25ju2nbX9I48P4q5f7/wMDfMUOqUI9Gf6L0bbiSeFbgHctGkW9sd/u
          JiaHhBBsVXfHODEbdATQIuYkJf7gtL4DPRZ7e+tGoIikX/DuffC9Cy8G/GZYDvSM
          wopmeYqfjOGxPUcneIYC4AjsWWQxbq7d2Zg8bHyof82qe+HPm48=
          =oSGf
        </p>
      
      </div>

    </div>
  </main>

</body>

</html>