<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

{%- include head.html -%}

<style>
  /* hack for chrome :( */
  body {background-color: black;}
</style>

<body>

  <div class="patience">


    <div>

      <div style="width: 100%; overflow: hidden;">
        <div style="font-weight: 900; font-size: 5rem; color: gray; " class="rtl-text-1">
          New flows coming, be patient, brother
        </div>
      </div>

      <div style="width: 100%; overflow: hidden;">
        <div style="font-weight: 900; font-size: 5rem; color: lightgray; " class="rtl-text-2">
          New flows coming, be patient, brother
        </div>
      </div>

    </div>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">

        <div style="display: flex; justify-content: center; overflow: hidden;">
          <img src="/assets/disc3.png" class="disc" alt="">
        </div>

      </div>
    </main>


    <div>

      <div style="width: 100%; overflow: hidden;">
        <div style="font-weight: 900; font-size: 5rem; color: gray; width: 100%" class="rtl-text-1">
          New flows coming, be patient, brother
        </div>
      </div>

      <div style="width: 100%; overflow: hidden;">
        <div style="font-weight: 900; font-size: 5rem; color: lightgray; width: 100%;" class="rtl-text-2">
          New flows coming, be patient, brother
        </div>
      </div>

      <div style="width: 100%; overflow: hidden;">
        <div style="font-weight: 900; font-size: 5rem; color: gray; width: 100%;" class="rtl-text-3">
          New flows coming, be patient, brother
        </div>

      </div>
    </div>

  </div>


</body>

</html>